# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

### Find out the datatypes of each and every column

### Print top 10 & bottom 10 samples from the dataframe

### Find the shape of the dataset

### Set the index of the dataframe to be the first column

### Use iloc function to print all the rows of the 3rd column

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

### Find out the mean and variance for each column but for class column

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

### Sort the entire dataset according to the column Petal width

### Remove the new column "SepalExtra" from the dataframe

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

### Print the no of rows and columns in the dataset

### Find out the type of each and every column in the dataset

### Print out all the rows from 3rd column to 10th columns

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function